<h1>{{title}}</h1>

<h2 style="font-family: 'Courier New', Courier, monospace; color:rgb(4, 174, 186)">A{{title}}is basically used to manage the book record of a Library,
     where a librarian can view all the available books, add new books, 
     delete books, issue books, and return books.
</h2>

<h3 style="font-style: italic; font-family: 'Courier New', Courier, monospace; color:rgb(169, 104, 7) ">Functionalities: A librarian can do the following things with this Library Management System: <br>
    1.Display Available Books <br>
    2.Add New Booksbr <br>
    3.Delete Books <br>
    4.Issue Books <br>
    5.Return Books
</h3>

<h3 style="font-style: italic; font-family: 'Courier New', Courier, monospace; color:rgb(169, 104, 7) ">
    Approach: We are going to use Body Parser by which we can capture user input values from the form such as Book Name, 
    Author Name, Pages and Price & store them in a collection. Then we are going to send the data of the book to the web page using EJS. 
    EJS is a middleware that makes it easy to send data from your server file (app.js or server.js) to a web page.
    We are also going to create the Delete Route for deleting books, an Issue Route for issuing the books, and a Return Route for returning the books.
</h3>

